* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    /* background-color: #4239c8; */
    height: max-content;
    color: white;
    display: flex;
    padding: 2rem 10rem;
    position: fixed;
    gap: 45rem;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    z-index: 2;

}



.navlinks a {
    color: #0aa0d0;
}

.head img {
    width: 1rem;
    height: 1rem;
    /* display: block; */
}

.signs a {
    display: flex;

}

.triangle {

    border-bottom: 1rem solid #0aa0d0;

}

.triangle p {
    border-bottom: 0.73rem solid white;

}

.background {
    width: 94rem;
    background-color: #ffd7d0;
    height: 25rem;
    position: absolute;
    z-index: -1;
    transform: rotate(-5deg);
    top: -4rem;
    left: -2rem;

}

.hello {
    margin-top: 10rem;
    gap: 0rem;
}

.hello h1,
.hello p {
    color: black;
    opacity: 0.78;

}

.hello h1 {
    font-size: 2.8rem;
}

.ourclient {
    color: rgba(0, 0, 0, 0.6);
    width: 63%;
    margin: 12rem 0rem 17rem 10rem;
    font-size: 2rem;
    line-height: 2.7rem;
}

section.info {
    background: linear-gradient(to left, #4F00BC 0%, #29ABE2 100%);
    height: 30rem;
    padding: 0rem 10rem;
    position: relative;
    margin-bottom: 5rem;
    width: 89rem;

}

.mallshots img {
    width: 20rem;

}

.mallshots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: -10rem;
    position: relative;
}

.textinfo {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    padding: 0rem 4rem;
    position: relative;
    top: -5rem;
}

.research,
.review,
.proposed {
    width: 65rem;
    margin: auto;
    display: flex;

}

.research img {
    width: 50%;
    height: 45rem;
    margin-top: 15rem;
    transform: rotate(-5deg);
}

.researchtexts,
.reviewtext {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #333333;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.researchtexts h1,
.review h1 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
}

ul li {
    margin-left: 3rem;
    line-height: 2rem;

}

.review P:nth-child(2),
.researchtexts p:nth-child(2) {
    color: #0aa0d0;
}

.review .empty {
    width: 50%;
    padding-left: 6rem;



}

.review {
    flex-direction: row;
    margin-top: 3rem;
}

section.reviewstoreimg {
    background-color: #f4f4f4;
    padding: 4rem 0rem;
    width: 89rem;
}

.empty img {
    width: 90%;
    box-shadow: #999 0px 3px 6px 7px;
}

.pros h1 {
    color: black;
    font-size: larger;
}

.proposed img {
    width: 95%;
    box-shadow: #999 0px 3px 30px 7px;


}

.proposed {
    flex-direction: column;
    padding-left: 3rem;
    color: rgba(0, 0, 0, 0.7);
    gap: 1rem;
}

.proposed p {
    width: 40rem;
    line-height: 2.7rem;
    margin-top: 3rem;
    font-size: 1.7rem;
}

.survey {
    justify-content: space-between;
    padding: 4rem 0rem 3rem 3rem;

}

.quote {
    margin-top: 5rem;
    font-family: Lato, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 200;
}

.quote h1 {
    color: #0aa0d0;
    font-weight: 400;
}

.redesignsect {
    background-color: #ffd7d0;
    width: 89rem;
}

.map h1 {
    width: max-content;
    margin: 3rem auto;
    color: rgba(0, 0, 0, 0.4);
}

.approach .reviewtext h1 {
    color: #0aa0d0;
}

.approach .reviewtext p:nth-child(2) {
    color: #333333;
}

.approach p,
.approach h1 {
    font-size: 1.2rem;
}

.approach {
    padding-left: 3rem;
    padding-bottom: 3rem;
}

.store {
    padding-bottom: 4rem;
}

.stakeholder h2,
.interviewQ h1 {
    color: #0aa0d0;
    font-weight: 400;
    font-size: 1.5rem;
}

.conclusion h2 {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;

}

.contribution {
    background-color: #ffd7d0;
    padding: 3rem 0rem 3rem 0rem;
    line-height: 1.5rem;
}

.contribution p {
    margin-left: 11rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.coded {
    background-color: #29ABE2;
    color: white;
    padding: 3rem 0rem;
}

.coded p {
    width: max-content;
    margin: auto;
    font-size: 0.9rem;
}