* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svgwhite {
    width: 3rem;
}

.tyScroll .svgwhite {
    width: 3rem;
}

.tyScroll {
    background-color: #4239c8;
    background-color: rgba(255, 250, 250, 0.7);
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-bottom: 0.5px solid rgba(82, 79, 79, 0.5);
    z-index: 2;
}

.headScroll a {
    color: #0aa0d0;
    text-decoration: none;
    font-size: 0.8rem;
}

.tyScroll .triangle {
    border-bottom: 1rem solid #0aa0d0;
}

.tyScroll .triangle p {
    border-bottom: 0.73rem solid white;
    top: 3.3px;
    right: -9px;
}

.headScroll {
    display: flex;
    height: max-content;
    width: 100%;
    max-width: 88rem;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
}

main {
    width: 88rem;
    margin: auto;
}

.hello p:nth-child(2) {
    width: 60rem;
    font-size: 2rem;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    height: max-content;
}

header {
    background-color: #4239c8;
    height: max-content;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0rem 10rem;
    position: relative;
    padding-bottom: 10rem;
    width: 100vw;

}

.zindexheader {
    z-index: 3;
}


.background {
    position: absolute;
    border-width: 100px 100vw 0px 0px;
    bottom: 0;
    right: 0;
    border-color: transparent white transparent transparent;
    border-style: solid;

}

header img {
    width: 1rem;
    height: 1rem;
}

.signs {
    display: flex;
    gap: 0rem;

}

.triangle {
    width: max-content;
    border-right: 0.8rem solid transparent;
    border-left: 0.8rem solid transparent;
    border-bottom: 1rem solid white;
    /* border-radius: 4px; */
    transform: rotate(0deg);
    position: relative;
}

.triangle p {
    border-right: 0.55rem solid transparent;
    border-left: 0.55rem solid transparent;
    border-bottom: 0.73rem solid #4239c8;
    /* border-radius: 4px; */
    position: absolute;
    top: 2px;
    right: -8.5px;
}

.head a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.ty {
    width: 67rem;
}

.hello a {
    color: white;
    font-size: 1rem;
}

.head {
    display: flex;
    gap: 50rem;
    padding: 2rem 0rem;
    height: max-content;

}

.email,
.navlinks {
    display: inline-block;
    display: flex;
    gap: 1.5rem;
}

.hello {
    margin-top: 4rem;
    flex-direction: column;
    gap: 2rem;
    display: flex;

}

header h1 {
    color: #0aa0d0;
    font-size: 4rem;
}

.hello p {
    /* color: #0aa0d0; */
    width: 85%;
    font-size: 1.5rem;
    line-height: 2.5rem;
}




#work {
    margin-top: 8rem;


}

.feature {
    padding: 0rem 10rem;
}

.my h2 {
    margin: auto;
    width: max-content;
    font-weight: 400;
    font-size: 1rem;

}

.my p,
p.line {
    width: 2rem;
    height: 3px;
    background-color: #2aabe2;
    margin: auto;
    margin-top: 1rem;

}

.ff,
.personal {
    margin-top: 3rem;
    padding: 3rem 0rem;
    font-size: 1.5rem;
    color: #777777;
    padding: 0rem 10rem;
}

.personal {
    padding: 0;
}

.lyft {
    height: 30rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.left p:first-child {
    color: #2aabe2;
    font-size: 1.5rem;
}

.left p:nth-child(2),
.mall p:not(p:last-child) {
    color: #777777;
    font-size: 1.2rem;
    line-height: 2rem;

}

.left p:last-child {
    color: #777777;
    font-style: italic;
    border-top: 1px solid #cccccc;
}

.left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lyft img {
    width: 52%;
    height: 90%;
}

.lyft:nth-of-type(3) img,
.lyft:nth-of-type(4) img,
.lyft:nth-of-type(5) img {
    width: 90%;
}


.apple p:nth-child(2),
.mall p:not(p:last-child) {
    color: #2aabe2;
}

.mallDesign {
    gap: 0.1rem;
}

.mallDesign a,
.links a,
.contribution a {
    text-decoration: none;
    color: #2aabe2;
    font-size: 1.2rem;
    border-bottom: 1px solid #adc0c9;
    width: max-content;
    margin: 0.5rem 0rem;
}

.mallDesign a:hover,
.links a:hover,
.contribution a:hover {
    border-bottom: 1px solid#2aabe2;

}

.mall img {
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 0;
}

.mall img:hover {
    cursor: pointer;
    box-shadow: 0 10px 9px -5px gray;
    position: relative;
    top: -0.5rem;
    transition: all 0.3s ease-in-out;

}

.pics img {
    width: 90%;
    height: 90%;
}

.pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
}

.icons {
    background-color: #29abe2;
    padding: 0rem 10rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    margin-bottom: 3rem;
}

.icons img {
    width: 8%;
    height: 30%;
    opacity: 0.5;

}

#about .lyft {
    padding: 0rem 10rem;
    margin-top: 3rem;
}

.thick p:nth-child(2),
.thick p:nth-child(3) {
    line-height: 1.4rem;
    margin-top: 1rem;
    color: #777777;
    font-size: 1.3rem;
}

.thick p:first-child {
    color: #777777
}

.thick p:last-child,
.thick p:nth-child(4),
.thick p:nth-child(5),
.thick p:nth-child(6),
.thick p:nth-child(7) {
    color: black;
    border: none;
    font-style: normal;
    font-size: 1.2rem;
    opacity: 0.8;
}

.thick p:nth-child(4) {
    margin-top: 1rem;
}


.clock,
.footerinClock {
    margin-top: 4rem;
    color: white;
    background-color: #4d4d4d;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 2rem;

}

.clock {
    margin-top: 10rem;
}

/* .clock p:not(p.line) */
.head,
.footerp {
    width: max-content;
    margin: auto;

}

.footerinClock {
    font-size: 2rem;
}

#contact {
    margin-top: 3rem;

}

.links a {
    display: block;

}

.links {
    width: max-content;
    margin: auto;
    margin-top: 2rem;
}

.mediumblogs,
.twitter {
    width: 31rem;
    padding: 1.5rem;
    height: 15rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #0aa0d0;
}

.pagefooter .links {
    margin: 0;
}

.pagefooter {
    padding: 10rem 10rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;
    overflow: hidden;
    position: relative;
    height: max-content;
    background-color: #0aa0d0;
    width: 100%;

}

.mediumTwitter {
    display: flex;
    margin: auto;
    gap: 2rem;

}

.mediumblogs p {
    color: black;
    font-size: 1.5rem;
    opacity: 0.7;
}

.twitter a {
    margin-top: 1rem;
}



.last {
    width: max-content;
    margin: auto;
    color: white;
    margin-top: 3rem;
}

.background2 {
    position: absolute;
    border-width: 0 0 100px 100vw;
    top: 0;
    left: 0;
    border-color: transparent transparent transparent white;
    border-style: solid;

}

/* research #777777 */
/* border #cccccc */
/* lyft color #2aabe2 */
/* Clock Styles starts here*/

.clockwrapper {
    /* background-color: #e6e6e6; */
    padding: 1rem;
    margin: auto;
    height: max-content;
    width: max-content;
    border-radius: 10% 10% 50% 5px;
    box-shadow: black 10px 10px 30px 0px;
}

.clockcirc {
    border-radius: 50%;
    border: 7px solid #b3b3b3;
    background-color: #e2dfdf;
    background-color: #4d4d4d;
    position: relative;
    height: 25rem;
    width: 25rem;
}


.num {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    text-align: center;
    inset: 2.5rem;
    color: white;
}

.num b {
    position: absolute;
    transform: rotate(calc(-30deg * var(--i)));
}

.hour,
.min,
.sec {
    position: absolute;
    transform-origin: left;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    height: 0.5rem;
    background-color: #383838;
    width: 35%;

}

.hour {
    width: 25%;
    height: 0.7rem;
}



.hour::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 0.45rem;
    border-radius: 0px 50px 50px 0px;
    background-color: red;
    left: 65%;
    bottom: 0;
    top: 0.1rem;
    background-color: #fdcf19;
}

.min::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 0.35rem;
    border-radius: 0px 50px 50px 0px;
    background-color: red;
    left: 75%;
    bottom: 0;
    top: 0.08rem;
    background-color: #fdcf19;
}

.sec {
    height: 2px;
    width: 44%;
    background-color: #fdcf19;
    z-index: 2;
}

.sec::before {
    content: "";
    position: absolute;
    width: 1.8rem;
    height: 0.7rem;
    border-radius: 50px;
    right: 95%;
    bottom: 0;
    top: -0.3rem;
    background-color: #fdcf19;

}

.circclock {
    position: absolute;
    left: 46%;
    top: 47%;
    width: 1.8rem;
    border-radius: 50%;
    height: 1.8rem;
    background-color: #fdcf19;
    border: 4px solid #f3f2f2;
    z-index: 0;
}

.clockcirc p {
    width: 45%;
    height: 2px;
    border-right: 0.7rem solid #b3b3b3;
    position: absolute;
    left: 50%;
    transform-origin: 0% 0%;
    top: 50%;
    transform: rotate(calc(6deg*var(--x)));
    box-shadow: #383838 0px 0px 0.1px;

}

.clockcirc .thickclock {
    width: 45%;
    height: 5px;
    border-right: 1rem solid lightblue;
    box-shadow: #383838 0px 0px 0.1px;
}

/* clockcirc bg-#e6e6e6 */
/* sec bg-#fdcf16 */
.digital {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: red;
    height: 5rem;
    margin-bottom: 1rem;

}

.shadow {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 2rem;
    height: max-content;
    padding: 0.4rem 0.7rem 1rem 0.7rem;
    margin: auto;
    border-radius: 10px;
    box-shadow: indigo 1px 1px 9px;

}

.shadow:hover {
    transform: scale3d(1.07, 1.07, 1.07);
    transition: all 0.5s linear;
}

.mind {
    color: green;
}

.secd {
    color: indigo;
}

.mind,
.hourd,
.secd {
    position: relative;
    font-size: 2.5rem;
    height: 2rem;
    text-shadow: 0px 0px 2px;
}

.mind::after,
.hourd::after,
.secd::after {
    content: ':';
    position: absolute;
    left: 3rem;
    top: -0.2rem;
}

.ampm {
    font-size: 14px;
    color: chartreuse;
    box-shadow: white 1px 1px 3px;
    padding: 5px;
    text-shadow: 0px 0px 2px;
}

.secd::after {
    animation: blinks 1s linear -1s infinite;
}

@keyframes blinks {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* Clock styles ends here */



@media (max-width:640px) {
    :root {
        font-size: 10px;
    }

    body {
        width: 100vw 100vw;
        height: auto;
    }


}